#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons {
    display: grid;
    border-bottom: 1px;
    border-left: 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#equals {
    background-color: rgb(rgb(0, 255, 85), green, blue);
}